body {
    background: ghostwhite;
}
.bd-navbar {
    min-height: 4rem;
    background-color: blue;

}
.bd-navbar .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
    color: #ffe2ca;
}
.btn-bd-download {
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484;
}

.auth-form-body {
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    font-size: 14px;
    padding: 20px;
}
.auth-form {
    margin: 0 auto;
    width: 340px;
}
.auth-form-header {
    text-align: center;
}
.btn {
    display: block;
    text-align: center;
    width: 100%;
}
.auth-form-body {
    border-radius: 5px;
    border-top: 1px solid #d8dee2;
}
.create_recipe {
    margin-top: 5px;
}
.create_recipe_text {
    margin-top: 5px;
}


.wp-block.property.list {
    border: 1px solid #e0eded;
    margin-bottom: 15px !important;
}
.wp-block {
    margin: 0 0 15px 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    position: relative;
    cursor: default;
    border-radius: 2px;
}
.wp-block.property.list {
    padding: 15px 15px 0 15px;
}
.wp-block.property.list {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}
.wp-block .wp-block-body {
    padding: 15px;
}
.wp-block.property.list .wp-block-img {
    display: table-cell;
    width: 250px;
}
.wp-block.property.list .wp-block-img img {
    width: 100%;
}
.wp-block.property.list .wp-block-content .content-title {
    font-size: 20px;
    color: #3498db;
    margin-bottom: 5px;
}
.wp-block.property.list .wp-block-body .wp-block-content {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}
.wp-block.property.list .wp-block-content .description {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0eded;
}
.wp-block.property.list .wp-block-footer ul.aux-info {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background: #fcfcfc;
    border-top: 1px solid #e0eded;
}
.wp-block.property.list .wp-block-footer ul.aux-info li {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    border-right: 1px solid #e0eded;
}
.ribbon.base {
    background: #3498db;
    color: #fff;
    border-right: 5px solid #8bc4ea;
}
.ribbon {
    position: absolute;
    top: 20px;
    right: -5px;
    padding: 15px;
}
.base {
    background: #3498db;
    color: #fff !important;
}
.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    left: -9px;
    border-left: 10px solid transparent;
}
.ribbon:before {
    top: 0;
}
.ribbon.base:before {
    border-top: 27px solid #3498db;
}
.ribbon.base:after {
    border-bottom: 27px solid #3498db;
}
.ribbon:after {
    bottom: 0;
}
.wp-block {

    background: white;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.description {
    padding-top: 55px;
    margin-bottom: 5px;
}
.content-title {
    padding-top: 25px;
}
.pagination {
    margin-left: 600px;

}
.row {

    padding-left: 260px;

}