<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello</h1>
<button onclick="sendRequest()">Send request</button>

<script>
    function sendRequest () {
        var request = new XMLHttpRequest()
        request.open("GET", "http://127.0.0.1:8000/api/recipes", true)
        request.onreadystatechange = function() {
            if (request.readyState == 4)
                console.log(request.responseText)
        }
        request.send(null)
    }
</script>

</body>
</html>