{% extends "base_template.html" %}
{% block header %}
<nav class="navbar navbar-dark bg-light">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Feed</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/?username={{ request.user }}">My Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new_recipe">Create New Recipe</a>
            </li>
            {% endif %}
        </ul>
        <ul class="nav">
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Sign up</a>
            </li>
            {% else %}
            <li class="nav-item">
                <h3><span class="badge badge-success">{{ request.user }}</span></h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}

        </ul>
</nav>
{% endblock header %}